:root {
    --bleuNuit: #22223b;
    --grey: #4a4e69;
    --shadyLady: #9A8C98;
    --grisBrun: #C9ADA7;
    --rosePale: #F2E9E4;

}

section#aboutUs {
    background-image: url("./images/Herfouche.png");
    background-repeat: no-repeat;
    background-size: cover;
}


section#aboutUs .overlay .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
}


/* Ici je vais m'occuper de chaque carte  */

.fields {
    padding-top: 75px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 70%;
}


/* là je m'occupe des propriétès des domains  */

.fields .domains {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}


/* là je vais m'occuper de l'image  */

/* .fields .domaines .image img {
    background: rgba(242, 233, 228, 0.2);
    border-radius: 10px;
    padding: 35px;
} */

/* là je vais changer la font family  */
.fields .domaines h1 {
    color: var(--rosePale);
    font-weight: 750;
    font-size: 40px;
    line-height: 48px;
}


/* Je vais m'occuper de la balise p ici  */

.fields .domaines p {
    color: var(--rosePale);
    font-weight: 350px;
    font-size: 20px;
    line-height: 28.8px;
}



/* Ici on s'occupe de la partie Business Card  */

.fields .businessCard {
    overflow: hidden;
    display: flex;
    padding-top: 75px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;


    /* margin-top: 575px; */
}





.businessCard h1 {
    font-family: 'Libre Bodoni', serif;
    color: var(--grisBrun);
    font-size: 80px;

}


.domaines img{
    width: 50px;

}


.Bcard{
    width: 400px;
    border-radius: 20px;
    cursor: pointer;
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}